* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content {
    width: 100%;
}

.rulerbox {
    border: 3px solid black;
    padding: 10px 20px;
    height: 50px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    /* animation: rota 5s linear; */
    /* transform: rotate(9deg); */
}

@keyframes rota {
    from {
        transform: translate(-30%, -50%);

        transform: rotate(0deg);
    }
    to {
        transform: translate(-30%, -50%);

        transform: rotate(360deg);
    }
}

.rulerbox .needle {
    height: 100%;
    width: 5px;
    display: inline-block;
    background-color: rgb(245, 12, 12);
    position: absolute;
    top: 0;
    left: 50%;
}

.ruler {
    position: relative;
    width: 100%;
    margin: 20px auto;
    height: 40px;
    top: -50%;
}
.ruler .cm,
.ruler .mm {
    position: absolute;
    border-left: 1px solid #555;
    height: 14px;
    width: 10%;
}
.ruler .cm:after {
    position: absolute;
    bottom: -15px;
    font: 11px/1 sans-serif;
}
.ruler .mm {
    height: 5px;
}
.ruler .mm:nth-of-type(5) {
    height: 10px;
}
.ruler .cm:nth-of-type(1) {
    left: 0%;
}
.ruler .cm:nth-of-type(1):after {
    content: "0";
}
.ruler .cm:nth-of-type(2) {
    left: 10%;
}
.ruler .cm:nth-of-type(2):after {
    content: "1";
}
.ruler .cm:nth-of-type(3) {
    left: 20%;
}
.ruler .cm:nth-of-type(3):after {
    content: "2";
}
.ruler .cm:nth-of-type(4) {
    left: 30%;
}
.ruler .cm:nth-of-type(4):after {
    content: "3";
}
.ruler .cm:nth-of-type(5) {
    left: 40%;
}
.ruler .cm:nth-of-type(5):after {
    content: "4";
}
.ruler .cm:nth-of-type(6) {
    left: 50%;
}
.ruler .cm:nth-of-type(6):after {
    content: "5";
}
.ruler .cm:nth-of-type(7) {
    left: 60%;
}
.ruler .cm:nth-of-type(7):after {
    content: "6";
}
.ruler .cm:nth-of-type(8) {
    left: 70%;
}
.ruler .cm:nth-of-type(8):after {
    content: "7";
}
.ruler .cm:nth-of-type(9) {
    left: 80%;
}
.ruler .cm:nth-of-type(9):after {
    content: "8";
}
.ruler .cm:nth-of-type(10) {
    left: 90%;
}
.ruler .cm:nth-of-type(10):after {
    content: "9";
}
.ruler .cm:nth-of-type(11) {
    left: 100%;
}
.ruler .cm:nth-of-type(11):after {
    content: "10";
}
.ruler .mm:nth-of-type(1) {
    left: 10%;
}
.ruler .mm:nth-of-type(2) {
    left: 20%;
}
.ruler .mm:nth-of-type(3) {
    left: 30%;
}
.ruler .mm:nth-of-type(4) {
    left: 40%;
}
.ruler .mm:nth-of-type(5) {
    left: 50%;
}
.ruler .mm:nth-of-type(6) {
    left: 60%;
}
.ruler .mm:nth-of-type(7) {
    left: 70%;
}
.ruler .mm:nth-of-type(8) {
    left: 80%;
}
.ruler .mm:nth-of-type(9) {
    left: 90%;
}
.ruler .mm:nth-of-type(10) {
    left: 100%;
}
#mentionme {
    text-align: center;
    margin-top: 10%;
}


.parent {
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }



.slider {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #00d66b; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #01da6d; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  /* ------------------------------------------------------------------ */
  
  .controls {
    height: 100%;
    width: auto;
    border-left: 1px solid black;
    padding: 2rem;
    background: #fff;
  }
  
  .controls .inputs {
    /* background-color: #04AA6D; */
    margin-bottom: 30px;
  }
  
  .controls .inputs .m1 {
    margin-bottom: 20px;
  }
  
  .controls .inputs .inputtitle {
    font-size: 24px;
  }
  
  .controls .valuecontainer .fd {
    font-weight: 800;
  }
  
  .controls .reset {
    height: 30px;
    width: 100px;
    font-size: 15px;
    margin-top: 50px;
    background: #03ff81;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.521);
    cursor: pointer;
    transition: transform .1s ease-in;
  }
  
  .controls .reset:hover {
    transform: translateY(-2px);
  }
  
  .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
  }
  
  .home {
    height: 50px;
    width: 50px;
    border: 3px solid #111;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 18%;
    z-index: 1000;
    color: #002c7e;
    font-size: 30px;
    margin: 20px;
    padding-top: 5px;
    background-color: #00d66b;
    transition: color .2s;
  }
  
  .home:hover {
    color: #fff;
  }
  